body {
    background-color: rgba(209,5,41,255);
    background-image: url('kepek/fenthatter.jpg'), url('kepek/lenthatter.jpg');
    background-size: cover, cover;
    background-repeat:no-repeat, no-repeat;
    background-position: top, bottom;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
@keyframes szin1 {
    40% { color: red; }
    70% { color: gold; }
    100% { color: green; }
  }

  h1 {
    animation: szin1 10s ease-in-out;
    color:green;
    /*Ez egy menő animáció amit a online találtam, nem vagyok elég okos hogy egy ilyet megcsináljak.*/
    font-size: 170px;
  }
 .alap {
    width: 1000px;
    font-size: x-large;
    text-align: justify;
  }

  *[href^="#"] {
    color:white;
    text-decoration: none;
    padding-block: 10px;
    padding-inline: 20px;
    border:10px solid red;
    border-radius: 50%;
    background-color: green;
  }

  .magyar-container {
    display: flex;
    align-items: center;
    gap: 20px;
    
  }
  .kulfold-container {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 1200px;
    font-size: x-large;
    text-align: justify;
  }
  .en-container {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  #budapest_kep {
    width: 500px;
    height: 250px;
  }
